<!--<app-alumno></app-alumno>-->
<app-alumno [alumnos]="alumnosDummy"></app-alumno>

<app-alumno-input (addAlumno)="onAddAlumno($event)"></app-alumno-input>
<a routerLink="/">Lista de Alumnos</a>
<a routerLink="/input">Alta de Alumnos</a>
<hr>
<router-outlet></router-outlet>
