<!--<label for="name">Nombre</label>
<input id = "name" type = "text" #inputName>-->

<label for="nombre">Nombre</label>
<input id="nombre" type="text" [(ngModel)]="nombre">

<br>

<button (click)="alta()">Agregar</button>
