<p>Alumno</p>
<p>Alumnos</p>

<button (click)="onClickActivar()">
    <div [ngSwitch]="activo">
        <p *ngSwitchCase="true">Ocultar</p>
        <p *ngSwitchCase="false">Mostrar</p>
    </div>
</button>

<ul>
    <h3 *ngIf="consultando">Cargando....</h3>
    <ul *ngIf="!consultando">
        <li *ngFor="let a of alumnos" (click)="onRemoveAlumno(a)">{{a}}</li>
    </ul>
</ul>

<ul>
    <li *ngFor="let a of alumnos">({a})</li>
    <li *ngFor="let a of alumnos" (click)="onRemoveAlumno(a)"></li>
</ul>

<div *ngIf="activo">
    <ul>
        <li *ngFor="let a of alumnos">{{a}}</li>
    </ul>
</div>